{% extends '::adminhomebase.html.twig' %}


{% block admin_content %}

<div class="dashboard_container">

	<div class="dashboard_left">
	
    <div class="fieldset">	
		<div class="legend">{% trans %} users.edit_profile {% endtrans %}</div>
		<div class="errors">
		  {{ form_errors(form) }}
		</div>
		<form  action="" method="POST" {{ form_enctype(form) }} id="stepy">

			<fieldset title="title 1">	
				<legend> Desc 1 </legend>
				{{ form_widget(form.user) }}
			</fieldset>
			
			<fieldset title="title 2">
				<legend> Desc 2 </legend>
			{{ form_widget(form.profile) }} 
			</fieldset>
			<input type="submit" class="finish" value="Finish!"/>		 

		</form>
		</div>





	</div>

	<div class="dashboard_right">
		<div class="fieldset">
			<div class="legend">Quick Links</div>
			<ul class="large">
			{{ knp_menu_render('admin_admins', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}

			</ul>
		</div>
	</div>

</div>

<link rel="stylesheet" type="text/css" href="/bundles/admin/css/jquery/jquery-ui-1.8.2.custom.css">
<link rel="stylesheet" type="text/css" href="/bundles/admin/css/stepy/jquery.stepy.css"> 

<script type="text/javascript" src="/bundles/admin/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bundles/admin/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/bundles/admin/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="/bundles/admin/js/jquery/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="/bundles/admin/js/stepy/jquery.stepy.js"></script>

<script type="text/javascript">

$(document).ready(function($){

	//alert($('.stepy').attr('class'))

	$('#stepy').stepy();
	//alert(('form#stepy').length)
});
</script>
{% endblock %}
