<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		 <link href="{{ asset('/bundles/home/css/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('/bundles/admin/css/admin.css') }}" type="text/css" rel="stylesheet" />		
	{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<div id="container">

		<div id="logo">logo</div>
		
		<div id="info">
			<span class="user"><strong>User:</strong> {{ app.user.username }}</span>
			<span><a href="{{ path('fos_user_security_logout') }}"><strong>Log out</strong></a></span>
		</div>


		<div id="admin-nav">
		  {{ knp_menu_render('admin_main', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}
		</div>
		<div id="content">
			{% block admin_content %} {% endblock %}
		</div>

	</div>


    	{% block top_nav%}
    		
    	{% endblock %}
    	
        {% block body %}{% endblock %}
        

	{% block javascripts %}
	 <script src="{{ asset('/bundles/home/js/jquery-1.7.1.js') }}" type="text/javascript"></script>
	 <script src="{{ asset('/bundles/home/js/bootstrap/bootstrap-tab.js') }}" type="text/javascript"></script>
	 <script src="{{ asset('/bundles/admin/js/admin.js') }}" type="text/javascript"></script>
	{% endblock %}
    </body>
</html>
