{% extends '::adminhomebase.html.twig' %}


{% block admin_content %}


<div class="dashboard_container">

	<div class="dashboard_left">
	


    <div class="fieldset">	
		<div class="legend">{%trans%}dashboard.recently_added_products{%endtrans%}</div>
                <table cellspacing="0" cellpadding="0" border="0" class="admin">
                        <thead>
				<tr>
				<th >&nbsp;</th>
				<th colspan="3">
				
				{% include '::search_products_form.html.twig' %}

				

				</th>
				<th>
					<a class="button add" href="{{ path('admin_products_add')}}">
					 <span>
					  <span>{%trans%}products.add{%endtrans%}</span>
					 </span>
					</a>
				</th>

				</tr>
                                <tr>
                                <th width="20" align="center">{%trans%}dashboard.active{%endtrans%}</th>
                                <th>{%trans%}dashboard.email{%endtrans%}</th>
                                <th>{%trans%}dashboard.signedup{%endtrans%}</th>
                                <th>{%trans%}dashboard.last_login{%endtrans%}</th>
                                <th width="200">{%trans%}dashboard.actions{%endtrans%}</th>
                                </tr>
                        </thead>

			<tbody>
			{% for product in products %}
				<tr>
			        <td align="center">
					<img alt="status" src="/bundles/admin/images/{{ product.enabled ? 'green-dot.png' : 'gray-dot.png' }}">
				</td>
					<td>{{ product.name }}</td>
					<td>{{ product.updated | date("Y-m-d H:i:s") }}</td>
					<td>2011-12-14 13:55:07</td>
					<td>
			           	<a class="button edit" href="{{ path('admin_products_edit', {'id': product.id}) }}"><span><span>{%trans%}dashboard.edit{%endtrans%}</span></span></a>
					<a class="button delete" href="{{ path('admin_products_delete', {'id': product.id}) }}"><span><span>{%trans%}dashboard.delete{%endtrans%}</span></span></a>
					</td> 
			    </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>







	</div>
	<div class="dashboard_right">
		<div class="fieldset">
			<div class="legend">{%trans%} dashboard.quick_links {%endtrans%}</div>
			<ul class="large">
			{{ knp_menu_render('admin_admins', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}

			</ul>
		</div>
	</div>

</div>


{% endblock %}
